body{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;

}
header{
  display: flex;
  align-content: center;
  color: black;
  background-color: #59c3c3;
  font-family: "Montserrat";
  border: 1px solid #637081;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 95px 170px 130px 100px;
    margin: 0;
    font-family: "Montserrat";
  }
  nav a{
    color: black;
  }
  nav li a {
    display: block;
    padding: 5px;
    margin: auto;
  }
  a:hover{
    color: white;
  }
  footer{
    align-content: center;
    background-color: #59c3c3;
    font-family: "Montserrat";
    margin-top: 30px;
    border: 1px solid #637081;
    display: flex;
  }
  .header-logo{
      background-color: white;
      border: 1px solid #637081;
      grid-column: 1/2;
  }
 .header-head1{
    grid-row: 1/2;
    grid-column: 2/3;
}
 .header-head2{
     grid-row: 2/3;
     grid-column: 2/3;
 }