@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*Desktop View********************************************/
@media only screen and (min-width: 550px) {
body{
    margin: auto;
/*     display: flex;
    flex-direction: column; */
    justify-content: center;
    font-family: "Montserrat";

}
main, footer{
  padding-top: 15px;
  font-family: "Montserrat";
  max-width: 75%;
  justify-content: center;
  align-items:center;
  margin: auto;
}
header,footer{
  display: flex;
	align-items:center;
	justify-content:center;
	padding: 0;
  color: black;
  background-color: #59c3c3;
  font-family: "Montserrat";
  border: 1px solid #637081;
  max-height: 20%;
  margin: auto;
  width: 100%;
}

nav {
	background-color: #637081;
	text-align: center;
  align-items:center;
	justify-content:center;
  margin: auto;
  width: 100%
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
  margin: auto;
}
 a:hover{
    color: #637081;
   background-color: white;
  }

h1,h2,h3,h4,h5,h6{
      justify-content: center;
      font-family: "Montserrat";
/*       padding-top: 5px; */
}
h2,h3,h5,h6{
    text-decoration: underline;
  }
main{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
}
footer{
  margin-top: 20px;
}
th,tr,td{
    border: 1px solid black;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}
th{
    height: 20%;
    background-color: #637081;
    color: white;
  }
  img{
    display: inline-block;
  }

.header-logo{
  max-width: 150px;
	height: auto;
  }
.headings {
  order: 2;
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header-head1{
  margin-bottom: -5px;
  margin:auto;
}
.header-head2{
  margin-bottom: -5px;
  margin: auto;
  font-style: italic;
  
}
.active{
  color: black;
   background-color: lightgrey;
}
.mainContain{
  display: flex;
  position: relative;
  height: 300px;
  max-width: 100%;
  margin: auto;
  }
.summContain{
  display: flex;
  position: absolute;
  flex-flow: column;
  background-color: #637081;
  top: 5%;
  left: 7%;
  max-height: auto;
  max-width: 30%;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding: 5px;
  }
  .FiveDayContain{
    width: 100%;
    diplay: flex;
    flex-flow: column;
    text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
    padding-bottom: 25px;
      
  }
  .articleContain{
  display: flex;
  position: relative;
  height: 250px;
   margin-top: 20px;
  margin: auto;
  background-color: #637081;
  color: white;
  max-width: 100%;
  }
  .artConatin{
    display: flex;
    flex-flow: column;
    position: absolute;
    max-width: 65%;
    right: 200px;
    order: 1;
  }
  .articleImg{
    position: absolute;
    max-width: 25%;
    height: 200px;
    right: 8px;
    bottom: 10px;
    border: 1px solid black;
    order: 2;
  }
.contactContain{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 250px;
   margin-top: 20px;
  background-color: #637081;
  color: white;
  max-width: 100%;
  }
  .mapImg{
    position: absolute;
    max-width: 25%;
    height: 200px;
    left: 8px;
    bottom: 10px;
    border: 1px solid black;
    order: 1;
  }
  .contactHead{
    justify-content: right;
  }
  .contactInfo{
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 40%;
    order: 2;
    float: left;
  }
  
}

/* Phone View ******************************/
@media only screen and (max-width: 700px) {
  body{
    margin: auto;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 13px;

}
main, footer{
  padding-top: 15px;
   font-family: "Montserrat";
  max-width: 900px;
  justify-content: center;
  align-items:center;
  margin: auto;
}
header,footer{
  display: flex;
  flex-direction: column;
  text-align: center;
	align-items:center;
	justify-content:center;
	padding: 0;
  color: black;
  background-color: #59c3c3;
  font-family: "Montserrat";
  border: 1px solid #637081;
 
  margin: auto;
  width: 100%;
}

nav {
	background-color: #637081;
	text-align: center;
  align-items:center;
	justify-content:center;
  margin: auto;
  width: 100%
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
  margin: auto;
}
 a:hover{
    color: #637081;
   background-color: white;
  }

h1,h2,h3,h4,h5,h6{
      justify-content: center;
      font-family: "Montserrat";
      padding-top: 5px
}
main{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
footer{
  margin-top: 20px;
}
.header-logo{

  max-width: 75px;
	height: auto;
  }
.headings {
  order: 2;
	display: flex;
	flex-direction: column;
  
  justify-content: flex-start;
  align-items: flex-start;
}
.header-head1{
  margin-bottom: -5px;
  margin:auto;
}
.header-head2{
  margin-bottom: -5px;
  margin: auto;
  font-style: italic;
  
}
.active{
  color: black;
   background-color: lightgrey;
}

.body{
  border: 1px solid;
  width: 400px;
  height: 50px;
  background-color: #637081;
  color: white;
  text-align: center;
}
  .mainContain{
  display: flex;
  position: relative;
  height: 300px;
  max-width: 100%;
  margin-bottom: 20px;
  }
.summContain{
    display: flex;
    position: absolute;
    flex-flow: column;
    background-color: #637081;
    top: 5%;
    left: 7%;
    max-height: auto;
    max-width: 30%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    color: white;
    padding: 5px;
  }
  .FiveDayContain{
   display: none;
  }
  .articleContain{
  display: flex;
  position: relative;
  height: 250px;
   margin-top: 20px;
  margin: auto;
  background-color: #637081;
  color: white;
  max-width: 100%;
  }
  .artConatin{
    display: flex;
    flex-flow: column;
    position: absolute;
    max-width: 65%;
    right: 200px;
    order: 1;
  }
  .articleImg{
    position: absolute;
    max-width: 25%;
    height: 200px;
    right: 8px;
    bottom: 10px;
    border: 1px solid black;
    order: 2;
  }
.contactContain{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 250px;
   margin-top: 20px;
  background-color: #637081;
  color: white;
  max-width: 100%;
  }
  .mapImg{
    position: absolute;
    max-width: 25%;
    height: 200px;
    left: 8px;
    bottom: 10px;
    border: 1px solid black;
    order: 1;
  }
  .contactHead{
    justify-content: right;
  }
  .contactInfo{
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 40%;
    order: 2;
    float: left;
  }
  
}