@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@media only screen and (min-width: 550px) {
body{
    margin: auto;
/*     display: flex;
    flex-direction: column; */
    justify-content: center;
    font-family: "Montserrat";

}
main, footer{
    padding-top: 15px;
    font-family: "Montserrat";
  max-width: 900px;
  justify-content: center;
  align-items:center;
  margin: auto;
}
header,footer{
  display: flex;
	align-items:center;
	justify-content:center;
	padding: 0;
  color: black;
  background-color: #59c3c3;
  font-family: "Montserrat";
  border: 1px solid #637081;
  max-height: 10%;
  margin: auto;
  width: 100%;
}

nav {
	background-color: #637081;
	text-align: center;
  align-items:center;
	justify-content:center;
  margin: auto;
  width: 100%
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
  margin: auto;
}
 a:hover{
    color: #637081;
   background-color: white;
  }

h1,h2,h3,h4,h5,h6{
      justify-content: center;
      font-family: "Montserrat";
      padding-top: 5px
}
main{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
footer{
  margin-top: 20px;
}
.header-logo{

  max-width: 150px;
	height: auto;
  }
.headings {
  order: 2;
	display: flex;
	flex-direction: column;
  
  justify-content: flex-start;
  align-items: flex-start;
}
.header-head1{
  margin-bottom: -5px;
  margin:auto;
}
.header-head2{
  margin-bottom: -5px;
  margin: auto;
  font-style: italic;
  
}
.active{
  color: black;
   background-color: lightgrey;
}
.preston-head{
  
}
.body{
  border: 1px solid;
  width: 400px;
  height: 50px;
  background-color: #637081;
  color: white;
  text-align: center;
}
}
/* Tablet Views ******************************/
@media only screen and (max-width: 550px) {
  body{
    margin: auto;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 13px;

}
main, footer{
    padding-top: 15px;
    font-family: "Montserrat";
  max-width: 900px;
  justify-content: center;
  align-items:center;
  margin: auto;
}
header,footer{
  display: flex;
  flex-direction: column;
  text-align: center;
	align-items:center;
	justify-content:center;
	padding: 0;
  color: black;
  background-color: #59c3c3;
  font-family: "Montserrat";
  border: 1px solid #637081;
 
  margin: auto;
  width: 100%;
}

nav {
	background-color: #637081;
	text-align: center;
  align-items:center;
	justify-content:center;
  margin: auto;
  width: 100%
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
  margin: auto;
}
 a:hover{
    color: #637081;
   background-color: white;
  }

h1,h2,h3,h4,h5,h6{
      justify-content: center;
      font-family: "Montserrat";
      padding-top: 5px
}
main{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
footer{
  margin-top: 20px;
}
.header-logo{

  max-width: 75px;
	height: auto;
  }
.headings {
  order: 2;
	display: flex;
	flex-direction: column;
  
  justify-content: flex-start;
  align-items: flex-start;
}
.header-head1{
  margin-bottom: -5px;
  margin:auto;
}
.header-head2{
  margin-bottom: -5px;
  margin: auto;
  font-style: italic;
  
}
.active{
  color: black;
   background-color: lightgrey;
}
.preston-head{
  
}
.body{
  border: 1px solid;
  width: 400px;
  height: 50px;
  background-color: #637081;
  color: white;
  text-align: center;
}
}